@import 'https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,500,600,700.css';

// fonts
:root {
  --font-noto-serif-sc: 'Noto Serif SC', serif;
}

// colors
:root {
  // brand colors
  --c-brand: hsl(47, 21%, 48%);
  --c-brand-light: hsl(47, 26%, 57%);

  // background colors
  --c-bg: #ffffff;
  --c-bg-light: hsl(46, 9%, 96%);
  --c-bg-lighter: #eeeeee;
  --c-bg-dark: #ebebec;
  --c-bg-darker: #e6e6e6;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: hsl(47, 6%, 25%);
  --c-text-accent: var(--c-brand);
  --c-text-light: hsl(47, 29%, 32%);
  --c-text-lighter: hsl(46, 29%, 40%);
  --c-text-lightest: hsl(46, 29%, 50%);
  --c-text-quote: hsl(0, 0%, 60%);
}
html.dark {
  // brand colors
  --c-brand: hsl(47, 26%, 57%);
  --c-brand-light: hwb(47 38% 42%);

  // background colors
  --c-bg: hsl(50, 15%, 10%);
  --c-bg-light: hsl(50, 15%, 20%);
  --c-bg-lighter: hsl(47, 16%, 18%);
  --c-bg-dark: hsl(47, 13%, 24%);
  --c-bg-darker: hsl(47, 16%, 26%);

  // text colors
  --c-text: hsl(47, 19%, 80%);
  --c-text-light: hsl(46, 19%, 70%);
  --c-text-lighter: hsl(46, 19%, 66%);
  --c-text-lightest: hsl(47, 19%, 62%);

  // border colors
  --c-border: hsl(47, 18%, 30%);
  --c-border-dark: hsl(47, 19%, 25%);
}

// navbar
:root {
  --navbar-height: 4.8rem;
  @media (max-width: 720px) {
    --navbar-height: 4.2rem;

  }
  --navbar-padding-v: 1.2rem;
  @media (max-width: 720px) {
    --navbar-padding-v: 0.9rem;
  }
  --navbar-padding-h: 2rem;
}

.navbar {
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .03), 0 6px 6px rgba(0, 0, 0, .05);
  font-family: 'Noto Serif SC', serif;

  .site-name {
    font-size: 2rem;
    @media (max-width: 720px) {
      font-size: 1.4rem;
    }
    font-weight: 600;
    letter-spacing: 2px;
  }

  .navbar-items-wrapper {
    font-size: 20px;
  }
}

.toggle-sidebar-button {
  top: var(--navbar-padding-v);
}

// searchbar
:root {
  --search-input-width: 10rem !important;
}

.search-box {
  display: flex !important;
  height: 2.2rem;
  align-self: center;

  input {
    height: 100% !important;
    border-radius: 6px !important;
    background-position: 0.65rem 50% !important;
    background-size: 0.9rem !important;
    padding-left: 2.1rem !important;
  }

  .suggestion {
    .page-title {
      font-size: medium;
    }

    .page-header {
      font-size: 0.8em !important;
    }
  }
}

// sidebar
@media (min-width: 720px) {
  .sidebar {
    display: none;
  }
}

// badage
:root{
  --c-badge-tip: var(--c-brand);
  --c-badge-warning: #ecc808;
  --c-badge-warning-text: var(--c-bg);
  --c-badge-danger: #dc2626;
  --c-badge-danger-text: var(--c-bg);
}