@import 'https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,500,600,700.css';

// fonts
:root {
  --font-noto-serif-sc: 'Noto Serif SC', serif;
}

// colors
:root {
  // accent colors
  --vp-c-accent: hsl(47, 21%, 48%);
  --vp-c-accent-bg: hsl(47, 26%, 57%);
  --vp-c-accent-hover: hsl(47, 26%, 65%);
  --vp-c-accent-text: var(--vp-c-white);
  --vp-c-accent-soft: hsl(47, 29%, 32%);

  // background colors
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;

  // text colors
  --vp-c-text: hsl(47, 6%, 25%);
  --vp-c-text-mute: #555551;
  --vp-c-text-subtle: #777775;

  // border colors
  --vp-c-gutter: #e2e2e3;
  --vp-c-border: #c2c2c4;
  --vp-c-border-hard: #b8b8ba;

  // shadow colors
  --vp-c-shadow: rgb(0 0 0 / 15%);

  // control colors
  --vp-c-control: rgb(142 150 170 / 10%);
  --vp-c-control-hover: rgb(142 150 170 / 16%);
  --vp-c-control-disabled: #eaeaea;

  // layout colors
  --vp-navbar-c-bg: var(--vp-c-bg);
  --vp-sidebar-c-bg: var(--vp-c-bg);

  // code group colors
  --vp-c-code-tab-title: var(--code-c-text, rgb(255 255 255 / 90%));
  --vp-c-code-tab-bg: var(--code-bg-color, var(--code-c-bg));
  --vp-c-code-tab-active: var(--vp-c-accent);
}

[data-theme='dark'] {
  // brand colors
  --vp-c-accent: hsl(47, 26%, 57%);
  --vp-c-accent-bg: hsl(47, 26%, 42%);
  --vp-c-accent-hover: hsl(47, 26%, 30%);
  --vp-c-accent-soft: hsl(47, 26%, 30%, 16%);

  // background colors
  --vp-c-bg: hsl(50, 15%, 10%);
  --vp-c-bg-alt: hsl(50, 15%, 13%);
  --vp-c-bg-elv: hsl(47, 16%, 18%);

  // text colors
  --vp-c-text: hsl(47, 19%, 85%);
  --vp-c-text-mute: #aaaaa8;
  --vp-c-text-subtle: #888884;

  // border colors
  --vp-c-gutter: #000;
  --vp-c-border: hsl(47, 18%, 30%);
  --vp-c-border-hard: hsl(47, 19%, 25%);

  // shadow color
  --vp-c-shadow: rgb(0 0 0 / 30%);

  // control colors
  --vp-c-control: rgb(101 117 133 / 12%);
  --vp-c-control-hover: rgb(101 117 133 / 18%);
  --vp-c-control-disabled: #363636;
}

// navbar
:root {
  --navbar-height: 4.8rem;
  @media (max-width: 720px) {
    --navbar-height: 4.2rem;

  }
  --navbar-padding-v: 1.2rem;
  @media (max-width: 720px) {
    --navbar-padding-v: 0.9rem;
  }
  --navbar-padding-h: 2rem;
}

.vp-navbar {
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .03), 0 6px 6px rgba(0, 0, 0, .05);
  font-family: 'Noto Serif SC', serif;

  .vp-site-name {
    font-size: 2rem;
    @media (max-width: 720px) {
      font-size: 1.4rem;
    }
    font-weight: 600;
    letter-spacing: 2px;
  }

  .vp-navbar-items {
    font-size: 20px;
    .route-link-active {
      color: var(--vp-c-accent);
    }
  }
}

.vp-toggle-sidebar-button {
  top: var(--navbar-padding-v);
}

// searchbar
:root {
  --search-input-width: 10rem !important;
}

.search-box {
  display: flex !important;
  height: 2.2rem;
  align-self: center;

  input {
    height: 100% !important;
    border-radius: 6px !important;
    background-position: 0.65rem 50% !important;
    background-size: 0.9rem !important;
    padding-left: 2.1rem !important;
  }

  .suggestion {
    .page-title {
      font-size: medium;
    }

    .page-header {
      font-size: 0.8em !important;
    }
  }
}

// sidebar
@media (min-width: 720px) {
  .vp-sidebar {
    display: none;
  }
}

// badge
:root{
  --badge-c-tip-text: var(--vp-c-bg);
  --badge-c-tip-bg: var(--vp-c-accent);
  --badge-c-warning-text: var(--vp-c-yellow-text);
  --badge-c-warning-bg: var(--vp-c-yellow-soft);
  --badge-c-danger-text: var(--vp-c-red-text);
  --badge-c-danger-bg: var(--vp-c-red-soft);
  --badge-c-important-text: var(--vp-c-purple-text);
  --badge-c-important-bg: var(--vp-c-purple-soft);
  --badge-c-info-text: var(--vp-c-indigo-text);
  --badge-c-info-bg: var(--vp-c-indigo-soft);
  --badge-c-note-text: var(--vp-c-grey-text);
  --badge-c-note-bg: var(--vp-c-grey-soft);
}
.vp-badge {
  font-weight: 600 !important;
}

// page
.page {
  padding-top: var(--navbar-height);
}